*~
*.aux
*.fdb_latexmk
*.fls
*.blg
will-extra-knot-material.out
*.synctex.gz
/.DS_Store
/Calibrated
/WFI-Images
rgb-for-aplpy-*.fits
wfpc2-mosaic*.fits
/new-slits-*.fits
# /wfpc2-mosaic-f658-over-f656.fits
/__pycache__/helio_utils.cpython-34.pyc
/__pycache__/chebfit2d.cpython-34.pyc
/Calibrated/BGsub/.DS_Store
/AlbaFits
__pycache__
ltxpng
Knot-Fits*
/Will-Paper-2016-12/auto/
/.ipynb_checkpoints/
/Will-Paper-2016-12/will-extra-knot-material.log
